#sign{
    position:absolute;
    margin-top: 40px;
}
.ng-dirty.ng-valid[type="text"]{
  border-bottom: 2px green solid;
}
.ng-dirty.ng-valid[type="password"]{
  border-bottom: 2px green solid;
}
.ng-dirty.ng-invalid[type="text"]{
  border-bottom: 2px red solid;
}
.ng-dirty.ng-invalid[type="password"]{
  border-bottom: 2px red solid;
}
input[type="text"]{
  width:350px;
}

input[type="password"]{
  width:350px;
}
input[type="email"]{
  width:350px;
}
input[type="number"]{
  width:350px;
}
.alert{
  background: pink;
 
  margin-bottom: 20px;
  display:inline-block;
  animation: 2s alertAnim forwards;
}
@keyframes alertAnim{
  from{
    opacity: 0;
    transform: translate(-20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}